﻿@Model ScrumManager.Models.TareasModels
@{
    ViewBag.Title = "tareasPendientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">
            <h1>TAREAS PENDIENTES</h1>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">
            <h3> @Model.intCodTarea </h3>
        </div>
    </div>
</div>

<strong>
    TAREA:
</strong>
<strong>
    @Model.intCodTarea
</strong>
<br />
<strong>
    NOMBRE:
</strong>
<strong>
    @Model.strNombre
</strong>
<br />
<strong>
    ESTADO:
</strong>
<strong>
    @Model.strEstado
</strong>
<br />



</div>
