﻿@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"> Iniciar Sesión </h2>
            </div>
            <div class="panel-body">
                <form role="form">
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" id="txtUser" placeholder="Usuario" name="user" type="text" autofocus>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="txtPass" placeholder="Constraseña" name="password" type="password" value="">
                        </div>
                        <input id="btnIngresar" type="button" class="btn btn-lg btn-success btn-block" value="Ingresar">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div id="correcto" class="alert alert-success">
    </div>
</div>
<div class="row">
    <div id="error" class="alert alert-warning">
    </div>
</div>


<script type="text/javascript" src="../Scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function () {
        $('#error').hide();
        $('#correcto').hide();
        $('#btnIngresar').click(function () {
            var user = $('#txtUser').val();
            var pass = $('#txtPass').val();
            if (user && (user != '') && pass && (pass != ''))
                verificar(user, pass);
        });
    });

    function verificar(user, pass) {
        $.ajax({
            type: "POST",
            url: "/Home/Ingresar",
            data: '{user: "' + user + '", pass : "' + pass + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (msg) {
                if (msg.resultado == "1") {
                     $('#correcto').html("<p> Sesion Iniciada: " + msg.msj + "</p>");
                     $('#correcto').show();
                     $('#error').hide();
                     var url = '@Url.Action("Perfil", "Home", new { usuario = "_id_"})';
                     window.location.href = url.replace("_id_", msg.msj);;

                } else {
                    $('#error').html("<p> Error al Iniciar: " + msg.msj + "</p>");
                    $('#error').show();
                    $('#correcto').hide();
                }
            },
            error: function (result) {
                alert("ERROR " + result.status + ' ' + result.statusText);
            }
        });

    };
</script>

