﻿@Model ScrumManager.Models.PerfilModels
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Menu{
    <li>@Html.ActionLink("Proyecto", "Proyecto", "Proyecto")</li>
    <li>@Html.ActionLink("Sprint", "Sprint", "Sprint")</li>
<li>@Html.ActionLink("Actividad", "Actividad", "IndexActividad")</li>
<li>@Html.ActionLink("Tareas", "tareasPendientes", "Tareas")</li>
}
<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">
            <h1>PEFIL DE USUARIO</h1>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">
            <h3> @Model.strNombre @Model.strApellido</h3>
        </div>
    </div>
</div>

<strong>
    USUARIO:
</strong>
<strong>
    @Model.strUsuario
</strong>
<br />
<strong>
    DOMICILIO:
</strong>
<strong>
    @Model.strDireccion
</strong>
<br />
<strong>
    CORREO ELECTRONICO:
</strong>
<strong>
    @Model.strCorreo
</strong>
<br />



</div>


<script type="text/javascript" src="../Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        $('#btnCreateGroup').click(function () {
            console.log('clic al boton crear grupo');
        });
    });
</script>



