﻿@{
    ViewBag.Title = "Sprint";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Menu{
    <li>@Html.ActionLink("Proyecto", "Proyecto", "Proyecto")</li>
    <li>@Html.ActionLink("Sprint", "Sprint", "Sprint")</li>
    <li>@Html.ActionLink("Actividad", "IndexActividad", "Actividad")</li>
}

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">
            <h1> CREACIÓN DE SPRINT</h1>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 ">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"> Proyecto en los que Participa </h2>
            </div>
            <div class="panel-body">
                <form role="form">
                    <table>
                           
                                @foreach (var item in Model.listaProyectos)
                                {
                                    <tr>
                                        <td>
                                            <div class="col-lg-12 col-lg-12">
                                                <div class="panel panel-primary">
                                                    <div class="panel-heading">
                                                        <div class="row">
                                                            <div class="col-xs-12">

                                                            </div>
                                                            <div class="col-xs-9 text-right">
                                                                <h3>@item.nombreProyecto</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                        <div class="panel-footer">
                                                            <span class="pull-left"> Ver Proyecto </span>
                                                            <span class="pull-right"> <i class="fa fa-arrow-circle-right"> </i></span>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    
                                                    
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                           
                        
                    </table>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="row" id="nuevoSprint">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"> Nuevo Sprint </h2>
            </div>
            <div class="panel-body">
                <form role="form">
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" id="txtNombre" placeholder="Nombre del Sprint" name="user" type="text" autofocus>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="txtFechaInicio" placeholder="Fecha Inicio" name="fechaIn" type="datetime" value="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="txtFechaFin" placeholder="Fecha Final" name="fechaFIn" type="datetime" value="">
                        </div>
                            <input id="btnGuardar" type="button" class="btn btn-lg btn-success btn-block" value="Guardar Sprint">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div id="correcto" class="alert alert-success">
    </div>
</div>
<div class="row">
    <div id="error" class="alert alert-warning">
    </div>
</div>


<script type="text/javascript" src="../Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        $('#error').hide();
        $('#correcto').hide();
        $('#nuevoSprint').hide();
        var proyecto;

        $('select').on('change', function() {
            var select = this.value;
            proyecto = select;
            $.ajax({
                type: "POST",
                url: "/Sprint/validarRol",
                data: '{proyecto: "' + select + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    if (msg.resultado == "1") {
                        $('#nuevoSprint').show();
                        $('#error').hide();
                    } else if(msg.resultado =="-1")
                    {
                        $('#error').hide();
                        $('#correcto').hide();
                        $('#nuevoSprint').hide();
                    }
                    else
                    {
                        $('#error').html("  <p>" + msg.msj + "</p>");
                        $('#error').show();
                        $('#nuevoSprint').hide();
                    }
                },
                error: function (result) {
                    alert("ERROR " + result.status + ' ' + result.statusText);
                }
            });
        });

        $('#btnGuardar').click(function () {
            var nombre = $('#txtNombre').val();
            var fechaIni = $('#txtFechaInicio').val();
            var fechaFin = $('#txtFechaFin').val();
            if (nombre && (nombre != '') && fechaIni && (fechaIni != '') && fechaFin && (fechaFin != '')) {
                guardarSprint(nombre,fechaIni,fechaFin,proyecto);
            } else
            {
                $('#error').html("<p> No pueden haber campos vacios. </p>");
                $('#error').show();
            }
                
        });
    });

    function guardarSprint(nombre, fechaIni, fechaFin, proyecto) {
    $.ajax({
    type: "POST",
    url: "/Sprint/NuevoSprint",
    data: '{nombre: "' + nombre + '", Inicio : "' + fechaIni + '", Fin : "' + fechaFin + '", proyecto : "' + proyecto +  '"}',
    contentType: "application/json; charset=utf-8",
    dataType: "json",
    success: function (msg) {
    if (msg.resultado == "1") {
            $('#correcto').html(" <p>" + msg.msj + "</p>");
            $('#correcto').show();
            $('#error').hide();
        } else {
            $('#error').html("<p>" + msg.msj + "</p>");
            $('#error').show();
            $('#correcto').hide();
        }
    },
    error: function (result) {
        alert("ERROR " + result.status + ' ' + result.statusText);
    }
    });

    };
    </script>
