﻿@{
    ViewBag.Title = "Proyecto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Menu{
    <li>@Html.ActionLink("Proyecto", "Proyecto", "Proyecto")</li>
    <li>@Html.ActionLink("Sprint", "Sprint", "Sprint")</li>
    <li>@Html.ActionLink("Actividad", "IndexActividad", "Actividad")</li>
}
<br />
<h2>Proyecto</h2>

<form role="form">
    <fieldset>
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-info alert-dismissable">

                    <i class="fa fa-info-circle"></i>  <strong> Crear Proyecto</strong>
                </div>
                <div class="form-group">
                    <p>Nombre del Proyecto</p>
                    <input class="form-control" id="txtProyecto" placeholder="Nombre de Proyecto" name="Nombre de Proyecto" type="text" autofocus>
                </div>
                <div class="form-group">
                    <p>Fecha Inicial</p>
                    <input class="form-control" id="txtFechaIni" placeholder="Fecha Inicio" name="Fecha Inicio" type="date" autofocus>
                </div>
                <div class="form-group">
                    <p>Fecha Final</p>
                    <input class="form-control" id="txtFechaFin" placeholder="Fecha Fin" name="Fecha Fin" type="date" autofocus>
                </div>
            </div>

        </div>
        <input id="btnAddProject" type="button" class="btn btn-lg btn-success btn-block" value="Añadir Proyecto">
        <br />
        <br />
    </fieldset>
</form>

<form role="form">
    <fieldset>
        <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-info alert-dismissable">

                <i class="fa fa-info-circle"></i>  <strong>Asignar Proyecto</strong>
            </div>
            <p>Proyecto</p>
            <div class="panel-body">
                <form role="form">
                    <select id="selectProyecto">
                        <option value="-1"> Selecione Proyecto</option>
                        @foreach (var item in Model.listaProyectos)
                        {
                            <option value=@item.id_proyecto> @item.nombreProyecto</option>
                        }
                    </select>
                </form>
            </div>
            <br />
            <br />
            <p>Colaboradores</p>
            <div class="panel-body">
                <form role="form">
                    <select id="selectUsuario">
                        <option value="-1"> Selecione Colaborador</option>
                        @foreach (var item in Model.listaUsuario)
                        {
                            <option value=@item.id_usuario> @item.Nombre</option>
                        }
                    </select>
                </form>
            </div>
            <br />
            <br />
            
            <p>Roles</p>
            <div class="panel-body">
                <span class="pull-left">
                    <select id="rol" name="Roles">
                        <option value="1">SCRUM MASTER</option>
                        <option value="2">SCRUM TEAM</option>
                        <option value="3">PRODUCT OWNER</option>
                    </select>
                </span>
            </div>
        </div>

    </div>
        <br />
        <input id="btnAddMember" type="button" class="btn btn-lg btn-success btn-block" value="Asignar Colaborador">
        <br />
        <br />
    </fieldset>
</form>

        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-info alert-dismissable">

                    <i class="fa fa-info-circle"></i>  <strong> Proyectos en Curso</strong>
                </div>
            </div>
        </div>
        <!-- /.row -->
@foreach (var item in Model.listaProyectos2)
{
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">

                    </div>
                    <div class="col-xs-9 text-right">
                        <h3>@item.nombreProyecto</h3>
                        <div>@item.id_proyecto </div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Fecha Inicio @item.fechaInicio</span>
                    <span class="pull-left">Fecha Fiin @item.fechaFin</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

}    


    <script type="text/javascript" src="../Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
    jQuery(document).ready(function () {
        $('#btnAddProject').click(function () {
            var proyecto = $('#txtProyecto').val();
            var fechaIni = $('#txtFechaIni').val();
            var fechaFin = $('#txtFechaFin').val();
            if (proyecto && (proyecto != '') && fechaIni && (fechaIni != '') && fechaFin && (fechaFin != ''))
                AddProject(proyecto, fechaIni, fechaFin);
        });
        $('#btnAddMember').click(function () {
            var proyecto = $('#selectProyecto').val();
            var rol = $('#rol').val();
            var id_us = $('#selectUsuario').val();
            AddAsign(proyecto, rol, id_us);
        });
    });

    var proyecto;
    var usuario;
        

    function AddProject(proyecto, fechaIni, fechaFin) {
        $.ajax({
            type: "POST",
            url: "/Proyecto/AddProyecto",
            data: '{proyecto: "' + proyecto + '", fechaIni : "' + fechaIni +'", fechaFin: "'+ fechaFin + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (msg) {
                if (msg.resultado == "1") {
                    alert("PROYECTO AGREGADO ");
                } else {
                    $('#error').html("<p>" + msg.msj + "</p>");
                    alert("ERROR AL INGRESAR PROYECTO " + msg.msj);
                }
            },
            error: function (result) {
                alert("ERROR " + result.status + ' ' + result.statusText);
            }
        });}
       

        function AddAsign(proyecto, rol, id_usuario) {
            $.ajax({
                type: "POST",
                url: "/Proyecto/AddAsign",
                data: '{proyecto: "' + proyecto + '", rol: "' + rol +'", id_usuario: "'+ id_usuario + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    if (msg.resultado == "1") {
                        alert("ASIGNACION AGREGADA ");
                    } else {
                        $('#error').html("<p>" + msg.msj + "</p>");
                        alert("ERROR AL ASIGNAR PROYECTO " + msg.msj);
                    }
                },
                error: function (result) {
                    alert("ERROR " + result.status + ' ' + result.statusText);
                }
            });
        }
    </script>
