﻿@{
    ViewBag.Title = "SCRUM Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1> SCRUM Manager</h1>


 
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <small>¿Que es SCRUM Manager?</small>
            </h1>
            <p>Es una herramienta que permite aplicar SCRUM a tus Proyectos</p>
            <p>Te permitira trabajar con tu equipo de trabajo de forma sencilla</p>
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-info alert-dismissable">

                        <i class="fa fa-info-circle"></i>  Crea y administra Proyectos <br />
                        <i class="fa fa-info-circle"></i>  Añade tareas <br />
                        <i class="fa fa-info-circle"></i>  Crea tu equipo de trabajo <br />


                    </div>
                </div>
            </div>
         </div>
     </div>
</div>