﻿@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">
            <h1>PEFIL DE USUARIO</h1>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">
            <h3> Roberto Eduardo Caseros</h3>
        </div>
    </div>
</div>

<strong>
    USUARIO:
</strong>
<strong>
    EduardoC
</strong>
<br />
<strong>
    OCUPACIÓN:
</strong>
<strong>
    Desarrollador
</strong>
<br />
<strong>
    DOMICILIO:
</strong>
<strong>
    5 calle A 7 - 23 zona 4 de Mixco
</strong>
<br />
<strong>
    CORREO ELECTRONICO:
</strong>
<strong>
    eduard.caseros@gmail.com
</strong>
<br />

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">

            <i class="fa fa-info-circle"></i>  <strong> Proyectos en Curso</strong>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">    
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">

                    </div>
                    <div class="col-xs-9 text-right">
                        <h3>Colaboradores:</h3>
                    </div>
                </div>
            </div>
                <div class="panel-footer">
                    <span class="pull-left">
                        <select name="colaboradores">
                            <option value="user1">CarlogG</option>
                            <option value="user2">LeinderC</option>
                            <option value="user3">RandyN</option>
                            <option value="user4">DanielAlvizures</option>
                        </select>
                    </span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <br />
                    <br />
                    <div class="clearfix">
                        <div class="row">
                            <input id="btnCreateGroup" type="button" class="btn btn-lg btn-success btn-block" value="Crear Grupo">
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">

                    </div>
                    <div class="col-xs-9 text-right">
                        <h3>TuBanca.com</h3>
                        <div>Banca Virtual </div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver Proyecto</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">

                    </div>
                    <div class="col-xs-9 text-left">
                        <h3>Batres.com</h3>
                        <div> Venta de medicamento en linea</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver Proyecto</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    
</div>
<fieldset>
    @section Menu{
        <li>@Html.ActionLink("Estado Tareas", "Estado_tareas", "Tarea")</li>
    }
</fieldset>

<script type="text/javascript" src="../Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        $('#tareas').click(function () {
            
        });
    });
</script>



