﻿@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registro</h2>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"> Registrar Usuario </h2>
            </div>
            <div class="panel-body">
                <form role="form">
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" id="txtUser" placeholder="Usuario" name="user" type="text" autofocus>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="txtPass" placeholder="Constraseña" name="password" type="password" value="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="txtCorreo" placeholder="Correo" name="correo" type="text" autofocus>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="txtNombre" placeholder="Nombre" name="nombre" type="text" autofocus>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="txtApellido" placeholder="Apellido" name="Apellido" type="text" autofocus>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="txtDireccion" placeholder="Direccion" name="Direccion" type="text" autofocus>
                        </div>
                        <input id="btnRegistrar" type="button" class="btn btn-lg btn-success btn-block" value="Registrar">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div id="correcto" class="alert alert-success">
    </div>
</div>
<div class="row">
    <div id="error" class="alert alert-warning">
    </div>
</div>


<script type="text/javascript" src="../Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        $('#error').hide();
        $('#correcto').hide();
        $('#btnRegistrar').click(function () {
            var user = $('#txtUser').val();
            var pass = $('#txtPass').val();
            var correo = $('#txtCorreo').val();
            var nombre = $('#txtNombre').val();
            var apellido = $('#txtApellido').val();
            var direccion = $('#txtDireccion').val();
            if (user && (user != '') && pass && (pass != '') && correo && (correo != '') && nombre && (nombre != '') && apellido && (apellido != '') && direccion && (direccion != ''))
                Registrar(user, pass, correo, nombre, apellido, direccion);
        });
    });

    function Registrar(user, pass, correo, nombre, apellido, direccion) {
        $.ajax({
            type: "POST",
            url: "/Home/Registrar",
            data: '{user: "' + user + '", pass : "' + pass +'", correo: "'+ correo + '", nombre: "'+ nombre + '", apellido: "'+ apellido + '", direccion: "'+direccion+ '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (msg) {
                if (msg.resultado == "1") {
                     $('#correcto').html("<p>" + msg.msj + "</p>");
                     $('#correcto').show();
                     $('#error').hide();
                } else {
                    $('#error').html("<p>" + msg.msj + "</p>");
                    $('#error').show();
                    $('#correcto').hide();
                }
            },
            error: function (result) {
                alert("ERROR " + result.status + ' ' + result.statusText);
            }
        });

    };
</script>

